In [1]:
#Dependencies:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import pprint as pprint

In [2]:
# Name of the CSV file:
kaggle_file = "../Resources/universities.csv"
insti_file = "../Resources/cc_institution_details.csv"

In [3]:
#Reading the csv file:
uni_df = pd.read_csv(kaggle_file)
uni_df.head()

,Unnamed: 0,rankingNoteText,nonResponderText,nonResponder,act_avg,primaryPhoto,primaryPhotoThumb,sat_avg,enrollment,city,...,schoolType,region,aliasNames,rankingType,overallRank,institutionalControl,rankingMaxPossibleScore,rankingRankStatus,primaryKey,univ_rank
0,1,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_31291...,https://www.usnews.com/img/college-photo_31291...,1400.0,5400.0,Princeton,...,national-universities,NaN,NaN,national-universities,1,private,NaN,ranked,2627,1.0
1,2,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_8866.jpg,https://www.usnews.com/img/college-photo_8866_...,1430.0,6710.0,Cambridge,...,national-universities,NaN,NaN,national-universities,2,private,NaN,ranked,2155,2.0
2,3,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/5b128f0/17...,https://www.usnews.com/dims4/USNEWS/196469f/17...,1450.0,5941.0,Chicago,...,national-universities,NaN,UChicago,national-universities,3,private,NaN,ranked,1774,3.0
3,4,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/60348dd/17...,https://www.usnews.com/dims4/USNEWS/1ca230f/17...,1420.0,5472.0,New Haven,...,national-universities,NaN,NaN,national-universities,3,private,NaN,ranked,1426,3.0
4,5,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_19002...,https://www.usnews.com/img/college-photo_19002...,1430.0,6113.0,New York,...,national-universities,NaN,NaN,national-universities,5,private,NaN,ranked,2707,5.0

In [4]:
new_uni_df = uni_df[["displayName",
                    "city",
                    "state",
                    "rankingSortRank",
                    "act_avg",
                    "sat_avg",
                    "acceptance_rate",
                    "engineeringRepScore",
                    "businessRepScore",
                    "tuition"]]
new_uni_df.head()

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition
0,Princeton University,Princeton,NJ,1,32.0,1400.0,7.0,4.1,NaN,47140
1,Harvard University,Cambridge,MA,2,32.0,1430.0,5.0,3.6,NaN,48949
2,University of Chicago,Chicago,IL,3,32.0,1450.0,8.0,NaN,NaN,54825
3,Yale University,New Haven,CT,3,32.0,1420.0,6.0,3.4,NaN,51400
4,Columbia University,New York,NY,5,32.0,1430.0,6.0,3.8,NaN,57208

In [5]:
#Reading the csv file:
insti_df = pd.read_csv(insti_file, encoding="ISO-8859-1")
insti_df.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [6]:
new_insti_df = insti_df[["chronname","control","grad_100_value","retain_value"]]
new_insti_df.head()

,chronname,control,grad_100_value,retain_value
0,Alabama A&M University,Public,10.0,63.1
1,University of Alabama at Birmingham,Public,29.4,80.2
2,Amridge University,Private not-for-profit,0.0,37.5
3,University of Alabama at Huntsville,Public,16.5,81.0
4,Alabama State University,Public,8.8,62.2

In [7]:
new_insti2 = new_insti_df.rename({"chronname": "displayName"}, axis=1)
new_insti2.head()

,displayName,control,grad_100_value,retain_value
0,Alabama A&M University,Public,10.0,63.1
1,University of Alabama at Birmingham,Public,29.4,80.2
2,Amridge University,Private not-for-profit,0.0,37.5
3,University of Alabama at Huntsville,Public,16.5,81.0
4,Alabama State University,Public,8.8,62.2

In [8]:
#Merge two dataframes using an inner join
merge_df = pd.merge(new_uni_df, new_insti2, on = "displayName")

In [9]:
merge_df.head()

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition,control,grad_100_value,retain_value
0,Princeton University,Princeton,NJ,1,32.0,1400.0,7.0,4.1,NaN,47140,Private not-for-profit,87.8,97.6
1,Harvard University,Cambridge,MA,2,32.0,1430.0,5.0,3.6,NaN,48949,Private not-for-profit,86.5,97.1
2,University of Chicago,Chicago,IL,3,32.0,1450.0,8.0,NaN,NaN,54825,Private not-for-profit,87.9,99.3
3,Yale University,New Haven,CT,3,32.0,1420.0,6.0,3.4,NaN,51400,Private not-for-profit,89.6,98.7
4,Columbia University,New York,NY,5,32.0,1430.0,6.0,3.8,NaN,57208,Private not-for-profit,85.6,97.3

In [10]:
merge_df["act_avg"] = merge_df["act_avg"].replace("NaN", np.nan).fillna(0)
merge_df["sat_avg"] = merge_df["sat_avg"].replace("NaN", np.nan).fillna(0)
merge_df["acceptance_rate"] = merge_df["acceptance_rate"].replace("NaN", np.nan).fillna(0)
merge_df["retain_value"] = merge_df["retain_value"].replace("NaN", np.nan).fillna(0)
merge_df["grad_100_value"] = merge_df["grad_100_value"].replace("NaN", np.nan).fillna(0)
merge_df["engineeringRepScore"] = merge_df["engineeringRepScore"].replace("NaN", np.nan).fillna(0)
merge_df["businessRepScore"] = merge_df["businessRepScore"].replace("NaN", np.nan).fillna(0)

In [14]:
merge_df.loc[(merge_df>0).all(axis=1)]

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition,control,grad_100_value,retain_value
5,Massachusetts Institute of Technology,Cambridge,MA,5,33.0,1460.0,8.0,4.9,4.6,49892,Private not-for-profit,83.5,97.9
7,University of Pennsylvania,Philadelphia,PA,8,32.0,1380.0,9.0,3.6,4.8,53534,Private not-for-profit,87.9,97.8
14,Cornell University,Ithaca,NY,14,31.0,1330.0,14.0,4.2,4.2,52853,Private not-for-profit,86.6,96.8
17,University of Notre Dame,Notre Dame,IN,18,32.0,1350.0,19.0,3.3,4.1,51505,Private not-for-profit,89.8,98.6
18,Washington University in St. Louis,St. Louis,MO,18,32.0,1400.0,17.0,3.3,4.0,51533,Private not-for-profit,88.2,96.4
21,University of Southern California,Los Angeles,CA,21,30.0,1280.0,17.0,3.6,4.1,54259,Private not-for-profit,78.2,96.0
22,Carnegie Mellon University,Pittsburgh,PA,25,31.0,1380.0,22.0,4.3,4.2,53910,Private not-for-profit,74.3,94.2
23,University of Virginia,Charlottesville,VA,25,29.0,1240.0,30.0,3.4,4.2,46975,Public,86.3,97.0
26,New York University,New York,NY,30,29.0,1250.0,32.0,2.9,4.3,50464,Private not-for-profit,77.3,92.5
30,Georgia Institute of Technology,Atlanta,GA,34,30.0,1320.0,26.0,4.6,3.5,33014,Public,40.9,95.5
32,Boston University,Boston,MA,37,28.0,1220.0,29.0,3.1,3.4,52082,Private not-for-profit,79.6,92.8
33,Case Western Reserve University,Cleveland,OH,37,30.0,1280.0,35.0,3.3,3.5,47500,Private not-for-profit,64.8,94.2
35,Tulane University,New Orleans,LA,40,29.0,1250.0,26.0,2.4,3.2,52960,Private not-for-profit,62.3,90.5
36,Rensselaer Polytechnic Institute,Troy,NY,42,28.0,1280.0,44.0,3.5,3.1,52305,Private not-for-profit,64.9,93.5
37,University of Florida,Gainesville,FL,42,27.0,1180.0,46.0,3.4,3.6,28658,Public,65.2,96.5
38,Lehigh University,Bethlehem,PA,46,29.0,1230.0,26.0,3.2,2.9,50740,Private not-for-profit,73.0,93.9
40,University of Miami,Coral Gables,FL,46,28.0,1210.0,38.0,2.5,3.1,48484,Private not-for-profit,70.8,91.3
41,Villanova University,Villanova,PA,46,30.0,1220.0,44.0,2.5,3.2,51434,Private not-for-profit,86.2,94.0
42,University of Georgia,Athens,GA,54,26.0,1140.0,54.0,2.3,3.6,30392,Public,56.8,94.2
43,George Washington University,Washington,DC,56,27.0,1180.0,40.0,2.6,3.3,53518,Private not-for-profit,75.6,92.3
44,University of Connecticut,Storrs,CT,56,26.0,1130.0,49.0,2.9,3.2,36948,Public,68.3,93.9
45,University of Washington,Seattle,WA,56,26.0,1120.0,45.0,3.7,3.6,35538,Public,57.5,93.0
47,Southern Methodist University,Dallas,TX,61,28.0,1220.0,49.0,2.5,3.2,52498,Private not-for-profit,66.6,88.9
48,Syracuse University,Syracuse,NY,61,25.0,1090.0,52.0,2.6,3.3,46755,Private not-for-profit,68.5,91.9
49,Worcester Polytechnic Institute,Worcester,MA,61,28.0,1200.0,48.0,2.9,2.6,48628,Private not-for-profit,70.2,95.9
50,Clemson University,Clemson,SC,67,26.0,1150.0,51.0,3.0,3.0,35654,Public,59.1,91.9
52,Stevens Institute of Technology,Hoboken,NJ,69,29.0,1260.0,39.0,2.7,2.5,50554,Private not-for-profit,44.5,96.3
54,Baylor University,Waco,TX,75,26.0,1120.0,40.0,2.4,3.1,43790,Private not-for-profit,57.2,88.2
56,Texas Christian University,Fort Worth,TX,78,25.0,1070.0,38.0,2.9,3.0,44760,Private not-for-profit,58.6,90.2
57,University of Iowa,Iowa City,IA,78,23.0,1020.0,84.0,2.9,3.5,28813,Public,47.5,85.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,New Jersey Institute of Technology,Newark,NJ,140,23.0,1110.0,59.0,2.6,2.4,31034,Public,23.4,86.0
97,San Diego State University,San Diego,CA,140,23.0,1000.0,35.0,2.5,2.9,19340,Public,32.7,87.8
98,University of South Florida,Tampa,FL,140,24.0,1070.0,47.0,2.4,2.5,17324,Public,35.6,88.8
99,Washington State University,Pullman,WA,140,20.0,930.0,72.0,2.8,2.8,25817,Public,40.0,79.8
100,Kansas State University,Manhattan,KS,145,22.0,950.0,94.0,2.7,2.8,24775,Public,25.9,81.2
101,Oregon State University,Corvallis,OR,145,22.0,990.0,77.0,2.8,2.7,29457,Public,29.6,84.1
103,University of Mississippi,University,MS,145,22.0,1000.0,78.0,2.1,2.8,23554,Public,36.4,85.6
106,Ohio University,Athens,OH,151,21.0,990.0,75.0,2.3,2.7,21360,Public,47.9,78.6
107,Seattle Pacific University,Seattle,WA,151,21.0,990.0,87.0,2.9,2.1,40893,Private not-for-profit,54.5,85.5
108,University of Rhode Island,Kingston,RI,156,22.0,990.0,71.0,2.4,2.6,28874,Public,41.3,81.3
113,University of Louisville,Louisville,KY,165,22.0,1000.0,73.0,2.3,2.8,26286,Public,25.1,77.9
114,Mississippi State University,Mississippi State,MS,171,21.0,990.0,71.0,2.4,2.6,22358,Public,30.9,78.5
116,University of Central Florida,Orlando,FL,171,24.0,1080.0,50.0,2.6,2.7,22467,Public,35.9,87.1
117,University of Idaho,Moscow,ID,171,21.0,930.0,76.0,2.2,2.6,23812,Public,24.9,78.6
118,Virginia Commonwealth University,Richmond,VA,171,21.0,980.0,75.0,2.3,2.7,32942,Public,29.7,86.6
120,Texas Tech University,Lubbock,TX,176,22.0,1020.0,63.0,2.6,2.8,23011,Public,32.8,82.3
122,University of Hartford,West Hartford,CT,176,20.0,920.0,72.0,2.8,2.4,38910,Private not-for-profit,50.8,72.5
126,Suffolk University,Boston,MA,181,20.0,910.0,84.0,2.0,2.2,37270,Private not-for-profit,40.6,75.5
127,University of Maine,Orono,ME,181,21.0,950.0,90.0,2.2,2.4,30282,Public,35.7,80.7
128,University of Wyoming,Laramie,WY,181,21.0,960.0,95.0,2.2,2.5,16827,Public,24.1,73.9
132,West Virginia University,Morgantown,WV,187,21.0,930.0,76.0,2.4,2.6,23616,Public,33.7,77.1
134,University of New Mexico,Albuquerque,NM,192,19.0,950.0,47.0,2.6,2.7,22412,Public,14.6,77.7
136,Widener University,Chester,PA,192,21.0,930.0,70.0,2.5,2.0,44166,Private not-for-profit,39.9,75.5
137,North Dakota State University,Fargo,ND,198,21.0,1000.0,93.0,2.0,2.2,20571,Public,25.6,78.0
141,Central Michigan University,Mount Pleasant,MI,207,20.0,890.0,72.0,2.6,2.3,23670,Public,20.9,76.7
142,East Carolina University,Greenville,NC,207,20.0,970.0,70.0,2.5,2.2,23420,Public,30.8,80.9
145,Florida International University,Miami,FL,216,23.0,1030.0,49.0,2.1,2.6,18956,Public,20.5,83.5
146,Louisiana Tech University,Ruston,LA,216,21.0,980.0,63.0,2.2,2.3,18438,Public,29.4,78.6
148,Utah State University,Logan,UT,216,20.0,980.0,90.0,2.4,2.5,20726,Public,25.1,65.8
155,Wayne State University,Detroit,MI,223,20.0,983.0,68.0,2.2,2.4,28590,Public,11.2,76.9