In [23]:
#Dependencies:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import pprint as pprint

In [24]:
# Name of the CSV file:
kaggle_file = "../Resources/universities.csv"
insti_file = "../Resources/cc_institution_details.csv"

In [25]:
#Reading the csv file:
uni_df = pd.read_csv(kaggle_file)
uni_df.head()

,Unnamed: 0,rankingNoteText,nonResponderText,nonResponder,act_avg,primaryPhoto,primaryPhotoThumb,sat_avg,enrollment,city,...,schoolType,region,aliasNames,rankingType,overallRank,institutionalControl,rankingMaxPossibleScore,rankingRankStatus,primaryKey,univ_rank
0,1,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_31291...,https://www.usnews.com/img/college-photo_31291...,1400.0,5400.0,Princeton,...,national-universities,NaN,NaN,national-universities,1,private,NaN,ranked,2627,1.0
1,2,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_8866.jpg,https://www.usnews.com/img/college-photo_8866_...,1430.0,6710.0,Cambridge,...,national-universities,NaN,NaN,national-universities,2,private,NaN,ranked,2155,2.0
2,3,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/5b128f0/17...,https://www.usnews.com/dims4/USNEWS/196469f/17...,1450.0,5941.0,Chicago,...,national-universities,NaN,UChicago,national-universities,3,private,NaN,ranked,1774,3.0
3,4,NaN,NaN,False,32.0,https://www.usnews.com/dims4/USNEWS/60348dd/17...,https://www.usnews.com/dims4/USNEWS/1ca230f/17...,1420.0,5472.0,New Haven,...,national-universities,NaN,NaN,national-universities,3,private,NaN,ranked,1426,3.0
4,5,NaN,NaN,False,32.0,https://www.usnews.com/img/college-photo_19002...,https://www.usnews.com/img/college-photo_19002...,1430.0,6113.0,New York,...,national-universities,NaN,NaN,national-universities,5,private,NaN,ranked,2707,5.0

In [26]:
new_uni_df = uni_df[["displayName",
                    "city",
                    "state",
                    "rankingSortRank",
                    "act_avg",
                    "sat_avg",
                    "acceptance_rate",
                    "engineeringRepScore",
                    "businessRepScore",
                    "tuition"]]
new_uni_df.head()

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition
0,Princeton University,Princeton,NJ,1,32.0,1400.0,7.0,4.1,NaN,47140
1,Harvard University,Cambridge,MA,2,32.0,1430.0,5.0,3.6,NaN,48949
2,University of Chicago,Chicago,IL,3,32.0,1450.0,8.0,NaN,NaN,54825
3,Yale University,New Haven,CT,3,32.0,1420.0,6.0,3.4,NaN,51400
4,Columbia University,New York,NY,5,32.0,1430.0,6.0,3.8,NaN,57208

In [27]:
#Reading the csv file:
insti_df = pd.read_csv(insti_file, encoding="ISO-8859-1")
insti_df.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [28]:
new_insti_df = insti_df[["chronname","control","grad_100_value","retain_value"]]
new_insti_df.head()

,chronname,control,grad_100_value,retain_value
0,Alabama A&M University,Public,10.0,63.1
1,University of Alabama at Birmingham,Public,29.4,80.2
2,Amridge University,Private not-for-profit,0.0,37.5
3,University of Alabama at Huntsville,Public,16.5,81.0
4,Alabama State University,Public,8.8,62.2

In [34]:
new_insti2 = new_insti_df.rename({"chronname": "displayName"}, axis=1)
new_insti2.head()

,displayName,control,grad_100_value,retain_value
0,Alabama A&M University,Public,10.0,63.1
1,University of Alabama at Birmingham,Public,29.4,80.2
2,Amridge University,Private not-for-profit,0.0,37.5
3,University of Alabama at Huntsville,Public,16.5,81.0
4,Alabama State University,Public,8.8,62.2

In [35]:
#Merge two dataframes using an inner join
merge_df = pd.merge(new_uni_df, new_insti2, on = "displayName")

In [33]:
merge_df.head()

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition,control,grad_100_value,retain_value
0,Princeton University,Princeton,NJ,1,32.0,1400.0,7.0,4.1,NaN,47140,Private not-for-profit,87.8,97.6
1,Harvard University,Cambridge,MA,2,32.0,1430.0,5.0,3.6,NaN,48949,Private not-for-profit,86.5,97.1
2,University of Chicago,Chicago,IL,3,32.0,1450.0,8.0,NaN,NaN,54825,Private not-for-profit,87.9,99.3
3,Yale University,New Haven,CT,3,32.0,1420.0,6.0,3.4,NaN,51400,Private not-for-profit,89.6,98.7
4,Columbia University,New York,NY,5,32.0,1430.0,6.0,3.8,NaN,57208,Private not-for-profit,85.6,97.3

In [49]:
merge_df["act_avg"] = merge_df["act_avg"].replace("NaN", np.nan).fillna(0)
merge_df["sat_avg"] = merge_df["sat_avg"].replace("NaN", np.nan).fillna(0)
merge_df["acceptance_rate"] = merge_df["acceptance_rate"].replace("NaN", np.nan).fillna(0)
merge_df["retain_value"] = merge_df["retain_value"].replace("NaN", np.nan).fillna(0)
merge_df["grad_100_value"] = merge_df["grad_100_value"].replace("NaN", np.nan).fillna(0)
merge_df["engineeringRepScore"] = merge_df["engineeringRepScore"].replace("NaN", np.nan).fillna(0)
merge_df["businessRepScore"] = merge_df["businessRepScore"].replace("NaN", np.nan).fillna(0)

In [50]:
merge_df

,displayName,city,state,rankingSortRank,act_avg,sat_avg,acceptance_rate,engineeringRepScore,businessRepScore,tuition,control,grad_100_value,retain_value
0,Princeton University,Princeton,NJ,1,32.0,1400.0,7.0,4.1,0.0,47140,Private not-for-profit,87.8,97.6
1,Harvard University,Cambridge,MA,2,32.0,1430.0,5.0,3.6,0.0,48949,Private not-for-profit,86.5,97.1
2,University of Chicago,Chicago,IL,3,32.0,1450.0,8.0,0.0,0.0,54825,Private not-for-profit,87.9,99.3
3,Yale University,New Haven,CT,3,32.0,1420.0,6.0,3.4,0.0,51400,Private not-for-profit,89.6,98.7
4,Columbia University,New York,NY,5,32.0,1430.0,6.0,3.8,0.0,57208,Private not-for-profit,85.6,97.3
5,Massachusetts Institute of Technology,Cambridge,MA,5,33.0,1460.0,8.0,4.9,4.6,49892,Private not-for-profit,83.5,97.9
6,Stanford University,Stanford,CA,5,31.0,1380.0,5.0,4.8,0.0,49617,Private not-for-profit,76.1,98.6
7,University of Pennsylvania,Philadelphia,PA,8,32.0,1380.0,9.0,3.6,4.8,53534,Private not-for-profit,87.9,97.8
8,Duke University,Durham,NC,9,31.0,1380.0,11.0,3.7,0.0,53744,Private not-for-profit,87.1,97.2
9,California Institute of Technology,Pasadena,CA,10,34.0,1510.0,8.0,4.6,0.0,49908,Private not-for-profit,82.3,96.6
10,Dartmouth College,Hanover,NH,11,30.0,1350.0,11.0,3.2,0.0,52950,Private not-for-profit,86.5,97.9
11,Johns Hopkins University,Baltimore,MD,11,32.0,1420.0,12.0,3.9,0.0,52170,Private not-for-profit,86.9,97.0
12,Northwestern University,Evanston,IL,11,32.0,1400.0,11.0,4.0,0.0,52678,Private not-for-profit,86.2,97.7
13,Brown University,Providence,RI,14,31.0,1370.0,9.0,3.3,0.0,53419,Private not-for-profit,84.4,97.1
14,Cornell University,Ithaca,NY,14,31.0,1330.0,14.0,4.2,4.2,52853,Private not-for-profit,86.6,96.8
15,Rice University,Houston,TX,14,32.0,1410.0,15.0,3.7,0.0,45608,Private not-for-profit,78.8,98.2
16,Vanderbilt University,Nashville,TN,14,32.0,1420.0,11.0,3.4,0.0,47664,Private not-for-profit,86.7,97.3
17,University of Notre Dame,Notre Dame,IN,18,32.0,1350.0,19.0,3.3,4.1,51505,Private not-for-profit,89.8,98.6
18,Washington University in St. Louis,St. Louis,MO,18,32.0,1400.0,17.0,3.3,4.0,51533,Private not-for-profit,88.2,96.4
19,Georgetown University,Washington,DC,20,30.0,1320.0,17.0,0.0,3.8,52300,Private not-for-profit,88.0,96.0
20,Emory University,Atlanta,GA,21,30.0,1290.0,25.0,0.0,3.8,49392,Private not-for-profit,83.8,94.4
21,University of Southern California,Los Angeles,CA,21,30.0,1280.0,17.0,3.6,4.1,54259,Private not-for-profit,78.2,96.0
22,Carnegie Mellon University,Pittsburgh,PA,25,31.0,1380.0,22.0,4.3,4.2,53910,Private not-for-profit,74.3,94.2
23,University of Virginia,Charlottesville,VA,25,29.0,1240.0,30.0,3.4,4.2,46975,Public,86.3,97.0
24,Wake Forest University,Winston-Salem,NC,27,28.0,1240.0,30.0,0.0,3.4,51400,Private not-for-profit,81.8,92.9
25,Tufts University,Medford,MA,29,31.0,1370.0,14.0,3.0,0.0,54318,Private not-for-profit,87.2,96.4
26,New York University,New York,NY,30,29.0,1250.0,32.0,2.9,4.3,50464,Private not-for-profit,77.3,92.5
27,Boston College,Chestnut Hill,MA,32,30.0,1260.0,31.0,0.0,3.6,53346,Private not-for-profit,88.5,94.8
28,College of William and Mary,Williamsburg,VA,32,28.0,1250.0,37.0,0.0,3.3,43099,Public,83.1,95.6
29,Brandeis University,Waltham,MA,34,29.0,1270.0,33.0,0.0,2.9,53582,Private not-for-profit,86.2,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Old Dominion University,Norfolk,VA,-1,18.0,890.0,85.0,2.2,2.5,28200,Public,23.1,79.6
180,Portland State University,Portland,OR,-1,19.0,930.0,89.0,2.2,2.5,21180,Public,17.7,73.0
181,Prairie View A&M University,Prairie View,TX,-1,15.0,750.0,85.0,0.0,0.0,10059,Public,11.1,67.9
182,Regent University,Virginia Beach,VA,-1,19.0,920.0,83.0,0.0,0.0,17450,Private not-for-profit,20.9,76.8
183,Sam Houston State University,Huntsville,TX,-1,19.0,870.0,72.0,0.0,2.1,22340,Public,27.9,77.5
184,San Francisco State University,San Francisco,CA,-1,18.0,860.0,68.0,2.6,2.5,19134,Public,12.7,82.1
185,Spalding University,Louisville,KY,-1,18.0,0.0,50.0,0.0,0.0,24388,Private not-for-profit,17.8,73.1
186,Tennessee State University,Nashville,TN,-1,16.0,788.0,53.0,0.0,2.0,20178,Public,7.8,59.8
187,Tennessee Technological University,Cookeville,TN,-1,21.0,960.0,67.0,2.1,0.0,26190,Public,22.5,74.6
188,Texas Southern University,Houston,TX,-1,15.0,715.0,51.0,0.0,2.1,21240,Public,6.4,55.2
189,Texas Woman's University,Denton,TX,-1,17.0,820.0,86.0,0.0,0.0,21816,Public,22.3,72.8
190,Trevecca Nazarene University,Nashville,TN,-1,19.0,930.0,72.0,0.0,0.0,25100,Private not-for-profit,35.7,74.8
191,Trinity International University,Deerfield,IL,-1,19.0,880.0,88.0,0.0,0.0,30750,Private not-for-profit,35.2,69.4
192,University of Akron,Akron,OH,-1,19.0,910.0,96.0,2.1,2.3,21863,Public,15.6,66.4
193,University of Memphis,Memphis,TN,-1,19.0,890.0,94.0,2.1,2.7,21413,Public,13.1,75.8
194,University of New Orleans,New Orleans,LA,-1,20.0,950.0,60.0,0.0,2.4,13530,Public,13.0,67.5
195,University of Northern Colorado,Greeley,CO,-1,19.0,930.0,90.0,0.0,2.3,20474,Public,26.5,66.3
196,University of North Texas,Denton,TX,-1,20.0,980.0,72.0,0.0,2.4,23716,Public,24.7,75.0
197,University of South Alabama,Mobile,AL,-1,20.0,875.0,80.0,2.6,2.1,19586,Public,14.1,67.9
198,University of Southern Mississippi,Hattiesburg,MS,-1,20.0,940.0,60.0,0.0,2.2,9854,Public,20.7,71.6
199,University of the Cumberlands,Williamsburg,KY,-1,19.0,860.0,71.0,0.0,0.0,23000,Private not-for-profit,23.9,51.6
200,University of Toledo,Toledo,OH,-1,20.0,920.0,94.0,2.1,2.3,18578,Public,23.2,68.1
201,University of West Florida,Pensacola,FL,-1,21.0,930.0,41.0,2.1,0.0,18628,Public,20.2,70.0
202,University of West Georgia,Carrollton,GA,-1,18.0,870.0,59.0,0.0,2.0,20406,Public,17.2,71.5
203,Valdosta State University,Valdosta,GA,-1,19.0,890.0,65.0,0.0,2.1,17196,Public,15.7,68.9
204,Wichita State University,Wichita,KS,-1,21.0,915.0,92.0,2.2,2.3,17270,Public,21.5,74.5
205,Wright State University,Dayton,OH,-1,18.0,930.0,95.0,2.2,2.3,17350,Public,18.9,61.5
206,Capella University,Minneapolis,MN,-2,0.0,0.0,0.0,0.0,0.0,13998,Private for-profit,0.0,0.0
207,Idaho State University,Pocatello,ID,-2,0.0,0.0,0.0,2.1,2.4,21023,Public,11.4,68.5
208,Walden University,Minneapolis,MN,-2,0.0,0.0,0.0,0.0,0.0,12075,Private for-profit,0.0,0.0